.container{
  margin: 6.4rem auto;
  background-color: #eee;
  width: 40rem;
  font-size: 1.6rem;
  padding: 3.2rem;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.step{
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.count{
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  
}
.btn{
  background-color: rgb(172, 72, 172);
  font-size: 2.8rem;
  padding: 0 2.8rem;
  border-radius: 1rem;
  color: #fff
}
.message{
  text-align: center;
}

